<!-- Parallax header -->
<div class="parallax index"></div>
<header class="jumbotron container">
    <div class="row">
        <img src="/views/img/upm.jpg" class="col-md-2 col-sm-3 col-xs-6"/>
        <div class="col-md-10 col-sm-9 col-xs-6">
            <h1>Pádel UPM</h1>
            <p class="lead">El club universitario más dinámico del circuito</p>
        </div>
    </div>
</header>

<!-- Text -->
<section class="row">
    <article class="col-md-4 col-sm-4 col-xs-12">
        <h2>Clases<br/><br/></h2>
        <p class="lead justified">
            El conjunto de monitores más cualificados se encargará de darte la formación en cuanto a técnica requerida en este deporte.
            Las clases prácticas te permitirán interiorizar los movimientos como si fuesen naturales.
        </p>
        <br/>
        <p class="lead justified">
            Las clases colectivas convierten las clases en un espacio dinámico en el que jugar se convierte en una actividad placentera y divertida.
        </p>
        <br/>
        <p class="text-center">
            <img class="shady-circle" src="/views/img/balls.jpg"/>
        </p>
    </article>

    <article class="col-md-4 col-sm-4 col-xs-12">
        <h2>Entrenamientos personalizados</h2>
        <p class="lead justified">
            Si te sientes un campeón, de verdad lo eres o simplemente quieres avanzar rápidamente en la técnica que rodea a este deporte te podemos configurar sesiones de entrenamiento a tu medida con un entrenador personal que se encargará de:
        </p>
        <br/>
        <ul class="lead justified">
            <li>Enseñarte la técnica adecuada para mejorar tus golpes.</li>
            <li>Enseñarte a combinar la potencia con la técnica.</li>
            <li>Mostrarte cómo mejorar el rendimiento en equipo.</li>
            <li>Explicarte cómo utilizar la presión de los campeonatos en tu beneficio.</li>
        </ul>
    </article>

    <article class="col-md-4 col-sm-4 col-xs-12">
        <h2>Campeonatos<br/><br/></h2>
        <p class="lead justified">
            El club organiza campeonatos periódicos en los que te puedes divertir al mismo tiempo que mejoras en el deporte.
            Tenemos campeonatos de un día, de fin de semana y ligas regulares. Puedes participar en los torneos masculinos, femeninos y mixtos.
        </p>
        <br/>
        <p class="text-center">
            <img class="shady-circle" src="/views/img/trophy.jpg"/>
        </p>

    </article>
</section>

<script src="views/js/parallax.js"></script>
