<!-- Parallax header -->
<div class="parallax instalaciones"></div>
<header class="jumbotron container">
    <div class="row">
        <div class="col-md-10 col-sm-9 col-xs-6">
            <h1>Instalaciones</h1>
            <p class="lead">Todo sobre nuestra insfraestructura</p>
        </div>
    </div>
</header>

<section class="row">

    <article class="row">
        <br/>
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12155.641688931142!2d-3.6304401!3d40.3886779!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x17812255cddaf648!2sCampus+Sur+UPM!5e0!3m2!1sen!2ses!4v1447178409522"
        class="map col-md-6 col-sm-6" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe>

        <div class="col-md-5 col-sm-5 lead">
            <p>Disponemos de:</p>
            <ul>
                <li>4 pistas de cristal cubiertas.</li>
                <li>3 pistas de cistal semicubiertas.</li>
                <li>3 pistas de cemento exteriores.</li>
                <li>2 pistas de tenis.</li>
                <li>Vestuarios completos.</li>
                <li>Cafetería con terraza.</li>
            </ul>
        </div>

    </article>
</section>

<script src="views/js/parallax.js"></script>
