<!-- Parallax header -->
<div class="parallax servicios"></div>
<header class="jumbotron container">
    <div class="row">
        <div class="col-md-10 col-sm-9 col-xs-6">
            <h1>Servicios</h1>
            <p class="lead">Todo lo que necesitas para alcanzar tu máximo potencial</p>
        </div>
    </div>
</header>

<!-- Text -->
<section class="row">
    <article class="col-md-4 col-sm-4 col-xs-12">
        <h2>Fisioterapeuta</h2>
        <br/><br/>
        <p class="lead justified">
            Profesional sanitario con formación universitaria. Sus competencias quedan recogidas en la Ley de Ordenación de Profesiones Sanitarias y dispone del título de Grado en Fisioterapia.
        </p>
        <p class="lead justified">
            Oferta los siguientes servicios:<br/>
            <ul class="lead justified">
                <li>Masajes relajantes</li>
                <li>Atención y prevención de lesiones</li>
                <li>Clases de pilates</li>
            </ul>
        </p>
    </article>

    <article class="col-md-4 col-sm-4 col-xs-12">
        <h2>Coach</h2>
        <br/><br/>
        <p class="lead justified">
            En el club contamos con un psicólogo especializado en motivación y actividades físicas que te ayudará a conseguir cualquier meta que te propongas.
        </p>
    </article>

    <article class="col-md-4 col-sm-4 col-xs-12">
        <h2>Nutricionista</h2>
        <br/><br/>
        <p class="lead justified">
            Nuestro experto en alimentación estará a tu disposición para cualquier consulta:
            <ul class="lead justified">
                <li>Estudios nutricionales</li>
                <li>Dietas a medida</li>
                <li>Especializado en deportistas de alto rendimiento</li>
            </ul>
        </p>
    </article>
</section>
<script src="views/js/parallax.js"></script>
